{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<div class="grid-x grid-margin-x login-box">
    <div class="small-10 medium-6 large-4 small-offset-1 medium-offset-3 large-offset-4 cell">
        <div class="callout">
            <form method="POST" action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}">
                {% csrf_token %}
                {% if auth_error %}
                <div>Usuário ou senha incorretos.</div>
                {% endif %}
                <label>Usuário<input type="text" name="username" placeholder="Usuário" ></label>
                <label>Senha<input type="password" name="password" placeholder="Senha"></label>
                <button class="success button expanded">Entrar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
