{% extends 'base.html' %}

{% block content %}

<div class="grid-container">
    <h3>{{ title }}</h3>
    <table>
        <tr>
            <th>Descrição</th>
            <th>Aprovação</th>
            <th>Valor (R$)</th>
        </tr>
        {% for request in requests %}
        <tr>
            <td><a href="{% url 'show_request' request.id %}">{{ request.description }}</a></td>
            <td>
            {% if request.approval != None %}
                {% if request.approval %}
                Aprovado
                {% else %}
                Negado
                {% endif %}
            {% else %}
                Pendente
            {% endif %}
            </td>
            <td>R$ {{ request.value|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
