{% extends 'base.html' %}

{% block content %}

<article class="grid-container">
    <h3>Requisição #{{ request.id }}: {{ request.type }}</h3>
    <header class="callout">
        <div>Requerente: {{ request.requester.first_name }} {{ request.requester.last_name }}</div>
        <div>Valor: R$ {{ request.value|floatformat:2 }}</div>
        <div>
            <div>Descrição:</div>
            <div>{{ request.description }}</div>
        </div>
    </header>
    <section class="callout grid-y grid-padding-y">
        <h4>
            Aprovação
            {% if request.approval == None %}
            <output class="warning label">Pendente</output>
            {% elif request.approval %}
            <output class="success label">Aprovado</output>
            {% else %}
            <output class="alert label">Negado</output>
            {% endif %}
        </h4>
        {% if user.is_staff %}
        <div class="small-12 cell">
            <div><strong>Avaliar</strong></div>
            <span class="float-left">{{ user.first_name }} {{ user.last_name }}</span>
            {% if request.approval == None %}
            <span class="float-right small button-group">
                <a href="{% url 'set_approval' request.id 'aprovar' %}" class="success button">Aprovar</a>
                <a href="{% url 'set_approval' request.id 'negar' %}" class="alert button">Negar</a>
            </span>
            {% elif request.approval %}
            <span class="float-right">
                <a href="{% url 'set_approval' request.id 'negar' %}" class="small alert button">Negar</a>
            </span>
            {% else %}
            <span class="float-right">
                <a href="{% url 'set_approval' request.id 'aprovar' %}" class="small success button">Aprovar</a>
            </span>
            {% endif %}
        </div>
        {% endif %}
        {% if request.approval_set %}
        {% for approval in request.approval_set %}
        <div class="small-12 cell">
            <div><strong>Aprovação #{{ approval.id }}</strong></div>
            <div class="grid-x">
                <div class="small-9 cell">{{ approval.approver.first_name }} {{ approval.approver.last_name }}</div>
                <div class="small-3 cell">
                    {% if approval.status %}
                    <span class="float-right success label">APROVADO</span>
                    {% else %}
                    <span class="float-right alert label">NEGADO</span>
                    {% endif %}
                </div>
            </div>

            {% if approval.message %}
            <div>{{ approval.message }}</div>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </section>
    <section class="callout grid-y grid-padding-y">
        <h4>Discussão</h4>
        {% for commentary in request.commentary_set %}
        <div class="small-12 cell">
            <div><strong>{{ commentary.author.first_name }} {{ commentary.author.last_name }}</strong></div>
            <div>{{ commentary.text }}</div>
        </div>
        {% endfor %}
        <form action="{% url 'show_request' request.id %}" method="POST">
            {% csrf_token %}
            <label>
                <strong>{{ user.first_name }}</strong>, deixe seu comentário:
                <textarea name="text" rows="4" required></textarea>
            </label>
            <button class="success button float-right">Enviar</button>
        </form>
    </section>
</article>

{% endblock %}