{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-6 cell">
            {% if user.first_name %}
            <div>{{ user.first_name }} {{ user.last_name }}</div>
            {% endif %}
            <div>{{ user.username }}</div>
            <div>{{ user.email }}</div>
            {% if user.is_staff %}
            <div>Administrador</div>
            {% endif %}
            <div><a href="{% url 'logout' %}">sair</a></div>
        </div>
        <div class="small-12 medium-6 cell">
            <ul class="vertical menu index-menu">
                <li class="menu-text">Menu</li>
                <li>
                    <a href="{% url 'list_budgets' %}">
                        Meus pedidos de verba
                        {% if my_pending_budget_count > 0 %}
                        <span class="label">{{ my_pending_budget_count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li><a href="{% url 'new_budget' %}">Novo pedido de verba</a></li>
                <li>
                    <a href="{% url 'list_reimburses' %}">
                        Meus pedidos de Reembolso
                        {% if my_pending_reimburse_count > 0 %}
                        <span class="label">{{ my_pending_reimburse_count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li><a href="{% url 'new_reimburse' %}">Novo pedido de Reembolso</a></li>
                {% if user.is_staff %}
                <li class="menu-text">Administração</li>
                <li>
                    <a href="{% url 'list_budget_approvals' %}">
                        Pedidos de verba em aberto
                        {% if pending_budget_count > 0 %}
                        <span class="label">{{ pending_budget_count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'list_reimburse_approvals' %}">
                        Pedidos de reembolso em aberto
                        {% if pending_reimburse_count > 0 %}
                        <span class="label">{{ pending_reimburse_count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li><a href="#!">Revisar carteira de grupos</a></li>
                <li><a href="#!">Gerar relatórios</a></li>
                <li class="menu-text">Usuários</li>
                <li><a href="{% url 'new_user' %}">Novo usuário</a></li>
                <li><a href="{% url 'active_tokens' %}">Convites pendentes</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
